@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 77, 123;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 233, 236, 239;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 233, 236, 239;
    --background-start-rgb: 0, 77, 123;
    --background-end-rgb: 00, 30, 60;
  }
} */

html {
	background: linear-gradient(
		to top,
		rgb(var(--background-rgb-body-end)),
		rgb(var(--background-rgb-body-start))
	);
	overflow: hidden;
}

body {
	color: rgb(var(--main-txt-rgb));
	/* color: linear-gradient(
		to top,
		rgb(var(--color-rgb-end)),
		rgb(var(--color-rgb-start))
	); */
	background: linear-gradient(
		to top,
		rgb(var(--background-rgb-body-end)),
		rgb(var(--background-rgb-body-start))
	);
	height: 100vh;
	width: 100vw;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
