.modal-back {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    // pointer-events: none;
    z-index: 200;
}

.room-modal-component {
    position: fixed;
    min-width: 0vw;
    max-width: 80vw;
    min-height: 90vh;
    max-height: 90vh;
    left: 10vw;
    top: 5.0vh;
    background: linear-gradient(to top,
            rgb(var(--background-rgb-body-end)),
            rgb(var(--background-rgb-body-start)));
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .5);
    text-align: center;
    border-radius: 1.0vh;
    h1 {
        display: box;
        height: 5.0vh;
        width: 80vw;
        font-size:5.0vh;
        padding-top: 1.5vh;
        padding-bottom: 8.5vh;
    }
    z-index: 1000;
}

.image-modal-component {
    display: block;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 30vh;
    max-height: 30vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    top: 5.0vh;
    text-align: center;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}

.act-project-logo {
    width: 20vw;
    height: 20vw;
    max-width: 20vh;
    max-height: 20vh;
    border-radius: 10px;
    padding-left: 2.5px;
    padding-right: 2.5px;
    display: inline-block;
    user-drag: none;
	-webkit-user-drag: none;
    -khtml-user-drag:none;
}

.modal-text-component {
    display: box;
    min-width: 80vw;
    max-width: 80vw;
    min-height: 30vh;
    max-height: 30vh;
    // padding-top: 5.0vh;
    overflow-x: scroll;
    overflow-y: scroll;
    font-size: auto;
}

.modal-btn {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 10vh;
    max-height: 10vh;
    top: 5.0vh;
}